<div class="index-offers">

  <div style="margin-top: 100px; margin-bottom: 20px">
  <h1 style="font-size: 44px">All job offers</h1>
  </div>

  <div style="margin-bottom: 40px">
  <h2 style="color: white; font-family: Nunito; font-size: 20px; line-height: 30px">We want you to have the best experience<br>
  during job interviews – <strong>starting by choosing <br>
  the perfect offer that fits you!</strong></h2>
  </div>


  <%= image_tag('curvas.png', class: "curvas-jobs") =%>


  <div class="cards">
    <% @jobs.each do |job| %>
      <%= link_to job do  %>
        <div class="card-job ">
            <% if job.company.logo.to_s.empty? %>
              <div class="card-job-image" style="background-image: url( <%= asset_url('logo-default.png') %> )"></div>
            <% else %>
              <div class="card-job-image" style="background-image: url( <%= job.company.logo_url %> )"></div>
            <% end %>
          <div class="card-job-infos">
            <h2> <%= job.title %></h2>
            <p> <%= job.description %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

