<div class="password-background"> <!-- password-background -->
  <div class="password-box"> <!-- password-box -->
    <h1 id="password-title">Forgot your password?</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

     <div style="display: flex; justify-content: center;">
       <div style="display: inline-grid;
        text-align: center;">
        <%= f.button :submit, "Send me reset password instructions", class: "btn-password" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
   <% end %>

  </div>
</div>




