<%= simple_form_for @candidate do |f| %>



  <div>
    <p>Olá <span><%= @candidate.user.email %></span></p>
  </div>


  <% if @candidate.photo.present? %>
    <%= cl_image_tag @candidate.photo, height: 300, width: 400, crop: :fill %>
  <% end %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <div class="city-select">

  <%= f.select :work_city, ["São Paulo", "Rio de Janeiro", "Curitiba"], input_html:{ class: "select2-city", label: "City" } %>

   <!--  <select class="select2-city" name="work_city">
      <option value="S  P"> São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
      <option value="BSB">Brasilia</option>
      <option value="BSB">Salvador</option>
      <option value="FOR">Fortaleza</option>
      <option value="MAN">Manaus</option>
      <option value="BH">Belo Horizonte</option>
      <option value="CUR">Curitiba</option>

    </select> -->
  </div>

  <div class="skill-select">
    <%= f.input :skills_list, label: " ...", collection: %i[Rails C# Go Python Javascript], input_html:{ multiple: true, class: "select2-skills", label: "Test "} %>
  </div>


  <%= f.input :small_desc, label: "Short bio" %>
  <%= f.input :address %>
  <%= f.input :github_link %>

 <p> Work Authorizations </p>
  <%= f.input :workauth_bra, label:  "Brasil" %>
  <%= f.input :workauth_usa, label:  "United States" %>
  <%= f.input :workauth_eu, label:  "European Union" %>
  <%= f.input :workauth_can, label: "Canada" %>
  <%= f.input :workauth_aus, label: "Australia" %>
  <%= f.input :workauth_gb, label:  "Great Britain" %>


  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>

