  <p><%= @candidate.first_name %></p>
  <p><%= @candidate.last_name %></p>


<% if @candidate.photo.present? %>
    <%= cl_image_tag @candidate.photo, height: 300, width: 400, crop: :fill %>
  <% end %>

   <p><%= @candidate.small_desc %></p>

</div>

    <% @candidate.resumes.each do |resume| %>
       <%= resume.resume_language %>
       <%= resume.experience %>
       <%= resume.video %>

    <% end %>
</div>
  <div class="row mt-2 d-flex justify-content-end">
    <%= link_to "Create a new Resume", new_resume_path, class: "btn btn-new-resume" %>
  </div>


