<div class="cand-dash-bg">

  <div class="container">
    <div class="cand-dash-title">
         <h1 id="dash-videos-title">Dashboard</h1>
    </div>


    <div class="cand-dash-box">
        <div class="">
          <!-- aparece o nome -->
          <p class="cand-dash-name"><%= current_user.first_name %><br> <%= current_user.last_name %></p>
          <!-- aparece o nome -->


          <!-- aparece a foto -->
          <div class="cand-dash-photo">
            <% if @candidate.photo.present? %>
              <%= cl_image_tag @candidate.photo, height: 150, width: 150, crop: :fill %>
            <% end %>
          </div>
          <!-- aparece a foto -->

          <div class="cand-dash-description">
          <!-- aparece a descricao -->
              <p><%= @candidate.small_desc %></p>
          </div>
          <!-- aparece a descricao -->
        </div>

        <!-- aparece os submit -->
        <div class="btn-cand-dash">
          <%= link_to "Create a new resume", new_resume_path, class: "btn btn-dash-videos btn-cand-dash" %>
        </div>
        <!-- aparece os submit -->

        <div class="">
           <!-- aparece os videos -->

             <% @candidate.resumes.each do |resume| %>
                <%= resume.resume_language %>
                <% if resume.video.url.present? %>
                  <%= cl_video_tag resume.video.url, controls: true, width: 300 %>
                <% end %>
             <% end %>
           <!-- aparece os resumes -->
        </div>

        <div class="cand-dash-resume">
          <!-- aparece os resumes -->
            <% @candidate.resumes.each do |resume| %>
               <%= resume.experience %>
            <% end %>
          <!-- aparece os resumes -->
        </div>

      </div>



  </div>
</div>
