<div class="container">
  <div class="cand-index-wrapper">
    <% @candidates.each do |candidate| %>
      <%= link_to candidate_dashboard_path(candidate) do %>
        <div class="cand-index-col">
          <div class="cand-index-card">
            <% candidate_image = User.find(candidate.user_id).linkedin_picture_url || candidate.photo_url || asset_url('default-user.png') %>
            <div class="cand-index-img", style = "background-image: url(<%= candidate_image %>)"></div>
            <p class="cand-index-fn"><%= candidate.first_name %></p>
            <p class="cand-index-ln"><%= candidate.last_name %></p>

            <p class="cand-index-email"><%= candidate.user.email %></p>

            <p class="cand-index-city"><%= candidate.work_city %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
