<div class="recruiter-background">
  <div class="container">

    <div class="dashboard-container">
      <div class="btn btn-recruiter-table">
        <%= link_to "Create a new job offer", new_job_path, class: "btn btn-new-job" %>
      </div>


      <div>
        <%= image_tag('curvas2.png', class: "joboffers-show") %>
      </div>

      <section class="recruiter-dashboard">
        <h1>Dashboard</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Position</th>
                <th>Created at</th>
                <th>Description</th>
                <th>Candidates</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <% @company.jobs.each do |job| %>
                <tr>
                  <td><%= job.title %></td>
                  <td><%= job.created_at %></td>
                  <td><%= job.description %> </td>
                  <td>
                    <%= link_to list_path(job) do %>
                      <button class="btn btn-secondary mr-5">
                        <%= job.applies.count %></button>

                    <% end %>
                    <%= link_to job do %>
                    <button class="btn btn-primary ml-5">
                      <i class="fas fa-search"></i>
                    </button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </section>

    </div>
  </div>
</div>

















