<div class="container">
  <div>
    <p>Olá <span><%= @company.user.email %></span></p>
  </div>

  <%= simple_form_for @company do |f| %>
  <%= f.input :website %>
  <%= f.input :facebook_link %>
  <%= f.input :twitter_link %>
  <%= f.input :logo %>
  <%= f.input :banner %>
  <%= f.input :cnpj %>
  <%= f.input :address %>
  <%= f.input :source %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

</div>
