<div class="container">

<%= simple_form_for @resume, defaults: {input_html: { class: "form-resume" } } do |f| %>

  <%= f.input :resume_language,  label: "Your Resume language", collection: Resume::LANGUAGE_LIST, as: :select, label_html: { style: "color: #444444" }  %>

  <%= f.input :education, input_html: { class: "text" } %>
  <%= f.input :skills, input_html: { class: "text" } %>
  <%= f.input :experience, label: "Please describe some of your experiences below:", input_html: { class: "text" } %>

  <%= f.input :video %>

<button class="btn btn-secondary">
 <%= f.button :submit %>
</button>

<% end %>

</div>
